@import './variables.sss'

.nav
  position: fixed
  left: 0
  top: 0
  width: $MAIN_NAV_WIDTH
  bottom: 0
  overflow: hidden

.logo
  height: $MAIN_HEADER_HEIGHT
  line-height: @height
  color: $COLOR_BLUE
  text-indent: 10px
  background-color: $COLOR_BLACK

.functions
  border-right: 1px solid #eaeefb
  height: 100%
