@import './variables.sss'

.slideWrapper
  background: linear-gradient(0deg, #2f2d3f 0%, #181e26 100%)
  padding-top: 5px
  h1
    color: $COLOR_WHITE
    font-size: 24px
    margin: 40px 0
  > div
    height: 100%
  img
    height: 100%
.slide
  border: 1px solid #596f89
  border-radius: 3px
  background-color: #292938
