$COLOR_YELLOW: #f7ba2a
$COLOR_BLUE: #4078c0
$COLOR_GREEN: #34c388
$COLOR_RED: #fb004c

$COLOR_BLACK: #181e26
$COLOR_WHITE: #fff

$COLOR_GRAY: #d9dade
$COLOR_DARK_GRAY: #767676
$COLOR_LIGHT_GRAY: #cbcbcb

$COLOR_LIGHT_BLACK: #666

$MAIN_HEADER_HEIGHT: 50px
$MAIN_CONTENT_WIDTH: 1000px
$MAIN_NAV_WIDTH: 150px
